.wrapper {
    width: 100%;
}

.row { 
    margin: 0;
    padding: 0;
}

.logoSmall {
    margin-top: 25px;
    margin-left: 20px;
    width: 150px;
    float: left;
}

.connect {
   margin-top: 150px;
   /* width: 500px;s */
}

.buttonText {
    font-size: 25px;
}

.quote {
    margin-left: 25px !important;
}

.centerBtn {
    margin-top: 45%;
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .smallGone {
        display: none;
    }

    .connect {
        width: 80%;
        margin-top: 25px;
    }

    .buttonText {
        font-size: 15px;
    }

    .quote {
        width: 85%;
        padding: 0;
        /* margin: 0; */
    }

    .centerBtn{
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }